body {
  font-family: "Flexo-Regular",arial,sans-serif;
}

header {
  margin: 10px;
  padding-bottom: 20px;
}

.character-list {
  margin: 10px;
}

.pokemon-list {
  padding: 10px;
  border: 2px black solid;
  display: inline-block;
}

.button {
  background-color: red;
  color: white;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 3px;
}

li {
  list-style-type: none;
}
